*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Commissioner', sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

body{
    height:100vh;
    width:100vw;
    background:black;
    /* overflow:auto; */
    /* opacity:.5; */
}

:root{
    --darkcyan:hsl(176, 72%, 28%);
    --lightcyan:hsl(176, 50%, 47%);
}

.app{
    height:100%;
    width:85%;
    margin:0 auto;
    background:whitesmoke;
    min-width:600px;
    overflow:auto;
    /* opacity:.4; */
    transition:1s ease;
}


.small-screen-container{
    height:70vh;
    position:relative;
    /* left:-25vw; */
}



.hero{
    height:30%;
    position:relative;
    width:100%;
    border:1px solid black;
  }

  .hero_img{
      height:100%;
      width:100%;
      position:absolute;
      top:0;
  }

  .z-1{
      z-index:1;
      position:relative;
  }

  .white{
      color:white;
  }

  .header-content{
      width:90%;
      padding:1em;
      margin:0 auto;
  }
  
  .nav-links-div{
      width:40%;
  }

  .nav-links{
      list-style:none;
      /* width:40%; */
  }

  .nav-item{
      cursor:pointer;
      transition:1s ease;
  }

  .nav-item:hover{
      color:var(--darkcyan)
  }


  .flex{
      display:flex;

  }

  .between{
      justify-content: space-between;
      align-items:center;
  }

  .evenly{
      align-items:center;
      justify-content: space-evenly;
  }


  .main-card{
      width:60%;
      margin:0 auto;
      padding:1em;
      position:relative;
      top:-50px;
      min-width:400px;
      max-width:550px;
  }

  .logo-header-div{
      position:relative;
      top:-45px;
      background:white;
      padding:1em;
      text-align:center;
      box-shadow:2px 2px 7px rgb(0,0,0,.2);
      border-radius:2%;

}

  .p-1{
      padding:1em;
  }

   .logo-banner{
      position:relative;
      top:-35px;

  }

  .text-center{
      text-align:center;
  }

  .card-header{
      text-align:center;
      position:relative;
      top:-20px;
     

  }

  .project-btn, .btn{
      padding:.75em;
      border-radius:1rem;
      background: var(--darkcyan);
      color:white;
      border:none;
      cursor:pointer;
  }

  .project-btn:hover, .btn:hover{
      text-decoration:underline;
  }

  .turqoise-light{
      background:var(--lightcyan);
      width:100px;
      cursor:pointer;
  }



  .price-bubble{
      border:2px solid var(--lightcyan);
      padding:.5em;
      border-radius:100px;
      width:75px;
      margin-right:15px;
  }

  .tab{
      background:rgb(226, 217, 217);
      border-radius:1rem;
      display:flex;
      position:relative;
      align-items:center;
      justify-content: center;
  }

  .tab p{
      margin-right:10px;
  }

  .initial{
      border-radius:50%;
      background:gray;
      padding:.7em;
      margin-right:15px;
      color:white;
  }


  .progress-state-div{
      background:white;
      padding:1em;
  }

  .progress-div{
      padding:1em;
      border-radius:2%;
  }
  .progress-bar{
      width:90%;
      margin:0 auto;
      height:5px;
      background:lightgray;
      position:relative;
  }

  .progress{
      width:60%;
      background:turquoise;
      height:100%;
      position:absolute;
  }


  .text-card{
      padding:1em;
      background:white;
      margin-top:15px;
      border-radius:2%;
    
  }

  .my-10{
      margin:20px 0px;
      opacity:.6;
  }

  .modal-card{
      border:2px solid lightgray;
      padding:1em;
      border-radius:2px;
      margin:10px 0px;
  }

  .modal-card-option{
    border:2px solid lightgray;
    padding:1.5em;
    border-radius:2px;
    margin:10px 0px;
    height:125px;
  }

 


  .modal-card-option{
      height:125px;
  }


  .modal-card-option-large{
    border:2px solid lightgray;
    padding:1.5em;
    border-radius:2px;
    margin:10px 0px;
    height:185px;
  }

  .turqoise{
      color:turquoise;
  }

  .ml-15{
      margin-left:15px;
  }
  
  .small-fade-p{
      height:11px;
      color:gray;
    /* padding:1em; */
  }

  .fade{
      color:gray;
  }
 

  .modal-card p{
      padding:1em 0em;
      font-size:12px;
      color:gray;
  }


  .small{
      font-size:12px;
      position:relative;
      top:-5px;
      transform:translateY(-10px);
      opacity:.7;
  }


  .light-cyan{
      background:var(--lightcyan)
  }


  .large-modal{
      height:90vh;
      width:70%;
      /* border:2px solid red; */
      position:absolute;
      top:10%;
      left:15%;
      z-index:2;
      background:white;
      padding:1em;
      border-radius:2%;
      opacity:1;
      min-width:550px;
      max-width:600px;
      overflow:auto;
      opacity:0;
      pointer-events:none;
  }

  .large-modal-header{
      padding:.5em;
  }

  .close-span{
      float:right;
      cursor:pointer;
  }

  .large-modal-header h2{
      margin:10px 0px;
  }

  .large-modal-header h5{
      margin:10px 0px;
  }

  input[type='checkbox']{
      margin-right:10px;
  }



  .none{
      display:none;
  }

  .moda-header{
      height:30%;
  }

  .p-div{
      height:30%;
      margin-bottom:10px;
  }
  
 
.pledge-div{
    height:50%;
    position:relative;
    top:10px;
    /* border:1px solid red; */
    border-top:2px solid lightgray;
}


.column{
    flex-direction:column;
}


.thank-you-modal{
    position:absolute;
    text-align:center;
    padding:2em;
    border:1px solid black;
    top:0;
    width:50%;
    left:25%;
    top:35%;
    border-radius:2%;
    background:white;
    opacity:0;
    pointer-events:none;
}

.margin-10{
    margin-top:10px;
}


.black{
    color:black;
    opacity:1;
}

.burger{
    display:none;

}



  @media screen and (max-width:550px){

  

  
      .modal-card-option{
          height:175px;
      }

      .nav-links{
          display:none;
      }

      .burger{
          display:block;
          z-index:1;
          position:relative;
          left:-50px;
      }

      .small-screen-container{
        height:70vh;
        position:relative;
        left:-22vw;
        overflow:hidden;
        width:90%;
    }

    .large-modal{
        left:6%;
    }

    .thank-you-modal{
        left:35%;
        width:75%;
    }

    .modal-card-option{
        width:70%;
        height:70%;
        display:flex;
        align-items:center;
        justify-content: center;
        flex-direction:column;
        margin:0 auto;
    }

      
  }